.content
  .container
    section.404
      h2 Something has gone wrong
      .feature.save-time
        .im
        h3 Save Time!
        p Save precious time by searching across multiple auction sites for specific items & products.
        .border
      .feature.compare
        .im
        h3 Compare
        p Compare current prices and how much time is left for similar items across multiple sites.
        .border
      .feature.discover
        .im
        h3 Discover
        p Compare current prices and how much time is left for similar items across multiple sites.