section(id: "frontpage")
    hgroup
        h1(id: "sitetitle") Twends
        h2 Watch twitter trends unfold right before your eyes
    input(id: "search", name: "query", type: "search", placeholder: "Search twitter...")
    br
    label(id: "or") or pick a current trend:
    br
    aside(id: "trends")
      h4= "Loading trends..."
      ul
      
    
