section(id: "top")
  section(id: "input")
    input(id: "search", name: "query", type: "search", placeholder: "Search twitter...")
    aside(id: "trends")
      ul
  section(id: "queryDisplay", style: "display: none")
    h1
    a(id: "changeLink", href: "#") change
    span= "|"
    a(id: "tweetsLink", href: "#") view tweets
    span= "|"
    a(id: "birdsLink", href: "#", title: "Each bird represents a tweet. Click to toggle.") birds on
section(id: "visualization")
- if(typeof term !== "undefined") 
  script
    var initialQuery = "#{term}";